@model List<ApartamentoViewModel>

<table class="table table-striped">
    <tr>
        <th>Ações</th>
        <th>Código</th>
        <th>Nome</th>
        <th>Data de cadastro</th>
        <th>Torre</th>
        <th>Sensor</th>
    </tr>

    @foreach (ApartamentoViewModel apartamento in Model)
    {
        <tr>
            <td>
                <a href="/apartamento/edit?id=@apartamento.ID"><img width="20" src="~/img/edit.png" /></a>
                <a href="javascript:apagarApartamento(@apartamento.ID)"><img width="20" src="~/img/delete.png" /></a>
            </td>
            <td>@apartamento.ID</td>
            <td>@apartamento.Nome</td>
            <td>@apartamento.DataCadastro.ToShortDateString()</td>
            <td>@apartamento.NomeTorre</td>
            <td>@apartamento.NomeSensor</td>
        </tr>
    }
</table>